header{
    font-size: 1.4rem;
    /* position: sticky;
    top: 0;
    z-index: 1; */
    /* border-bottom: 1px solid black; */
}

.header-active{
    background-color: #a5f063;
    /* background-color: transparent; */
    transition: 0.5s;
}

.header-inactive{
    background: transparent;
    transition: 0.5s;
}

.menu-header{
    flex-grow: 2;
}

.navbar{
    display: flex;
    justify-content: space-between;

}

.logo{
    max-width: 200px;
    max-height: 300px;
    filter: drop-shadow(3px 2px 1px rgb(0 0 0 / 25%));
}

.nav-link{
    font-size: 1.3rem;
    /* font-family: 'Oxygen', sans-serif; */
    color: black;
    transition: color 0.5s, filter 0.5s;
}

.nav-link:hover{
    color: rgb(51, 51, 51);
    filter: drop-shadow(3px 2px 3px rgb(0 0 0 / 25%));
}

.dropdown-menu{
    background-color: #a5f063;
}

.dropdown-item:hover{
    color: white;
    background-color: #FF2E11;
} 

.cerrarSesion{
    /* font-size: 1rem; */
    /* background-color: #FF2E11; */
    color: white;
    /* width: 128px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 1px black; */
    padding: 5px 10px;
    width: fit-content;
}

.off{
    width: 1.5rem;
}

.cerrarSesion:hover{
    background-color: #c92b16;
}

.cerrarSesion:active{
    background-color: #FF2E11;
}
