
.main-login{
    min-height: 570px;
}

.brand{
    width: 480px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a5f063;
    border-radius: 15px;
    border: 1px solid black;
}

.label-login{
    font-weight: bolder;
}

.title-form{
    font-weight: bold;
}

.bi-eye-fill{
    position: absolute;
    right: 535px;   
    font-size: 25px;
    cursor: pointer;
    opacity: 0.8;
}

.bi-eye-fill:hover{
    opacity: 1;
}

.bi-eye-slash-fill{
    position: absolute;
    right: 535px;   
    font-size: 25px;
    cursor: pointer;
    opacity: 0.8;
}

.bi-eye-slash-fill:hover{
    opacity: 1;
}