*{
    font-family: 'Oxygen', sans-serif;;
}

.tituloMain{
    font-family: 'Passion One', cursive;
    font-size: 3.3rem;
    filter: drop-shadow(3px 2px 1px rgb(0 0 0 / 25%))
}

.subTituloMain{
    font-family: 'Oxygen', sans-serif;
}

.card{
    /* border: 1px solid #707070; */
    background-color: #a5f063;
    transition: box-shadow 0.5s, scale 0.5s;
}

.card:hover{
    box-shadow: 0 0 10px 1px black;
    scale: 103%;
}

.fondo-img{
    background-color: #FF2E11;
    width: fit-content;
    padding: 20px;
    border-radius: 100%;
}

.imagenCard{
    width: 45px;
}

.text-bold{
    font-size: 1.3rem;
}

.botonesMain{
    margin-top: 15px;
    padding: 3px 15px;
    background-color: #FF2E11;
}

.link-card{
    text-decoration: none;
    color: white;
}

.link-card:hover{
    text-decoration: none;
    color: white;
}